@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: rgba(255, 255, 255, 0.87);
    }
    a {
        filter: invert(0.85) hue-rotate(180deg);
    }
}

body {
    max-width: 60em;
    text-align: justify;
    margin: auto;
}

dl.commands dt {
    font-family: monospace;
}

dd {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}
