@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        filter: invert(1) hue-rotate(180deg)
    }
}

body {
    max-width: 60em;
    text-align: justify;
    margin: auto;
}

dl.commands dt {
    font-family: monospace;
}

dd {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}
